{% extends "index.html" %}
{% block content %}
<div class="w-4/5 mx-auto">
    <h1 class="text-2xl lg:mx-28 xl:mx-36 text-gray-900 font-semibold -mt-1">This is a secret to everyone
    </h1>
    <form action="{% url 'incidents:secret' %}" method="POST">{% csrf_token %}
        <div class="bg-white lg:mx-28 xl:mx-36 shadow rounded-3xl p-5 mt-3">
            <div class="flex flex-col gap-x-14 gap-y-6">
                <div class="w-full whitespace-nowrap px-5">
                    <label class="block text-base font-normal text-gray-600">Fechas</label>
                    <div class="flex flex-col md:flex-row items-center px-3 gap-x-2">
                        <div class="relative w-full m-2">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input datepicker datepicker-autohide datepicker-format="dd/mm/yyyy" type="text" value="{{ start_date }}"
                                class="bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg duration-150 focus:border-transparent focus:outline-none focus:ring focus:ring-indigo-500 block w-full pl-10 p-2.5"
                                placeholder="Fecha inicio" name="start-date">
                        </div>
                        <div class="relative w-full m-2">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input datepicker datepicker-autohide datepicker-format="dd/mm/yyyy" type="text" value="{{ end_date }}"
                                class="bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg duration-150 focus:border-transparent focus:outline-none focus:ring focus:ring-indigo-500 block w-full pl-10 p-2.5"
                                placeholder="Fecha fin" name="end-date">
                        </div>
                        <input type="number" name="count" placeholder="Cantidad" min="0" class="mb-2 mt-1 w-full text-sm border border-gray-300 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500 py-1.5 px-3 shadow rounded-md">
                        <button type="submit"
                            class="w-20 h-10 flex justify-center items-center bg-indigo-600 rounded-lg shadow-sm hover:bg-indigo-500 focus:bg-indigo-700 duration-150 focus:ring focus:ring-indigo-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>    
    </form>
</div>
{% endblock content %}