{% extends "index.html" %}
{% block br %}
    <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
              <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="{% url 'incidents:list_incidents' %}" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Incidencias</a>
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Incidencia #{{ incident.id|stringformat:"04d" }}</span>
            </div>
          </li>
        </ol>
      </nav>
{% endblock %}
{% block content %}
<div class = "bg-white shadow-lg rounded-3xl mx-auto p-5 mt-2 w-2/3 ">
<div class="w-4/5 mx-auto">
    <h1 class="text-2xl lg:mx-28 xl:mx-36 text-gray-900 font-semibold -mt-1">Incidencia / Incidencia #{{ incident.id|stringformat:"04d" }}
    </h1>
    <div class="bg-white lg:mx-28 xl:mx-36 shadow rounded-3xl p-5 mt-3">
        <div class="flex flex-col md:grid md:grid-cols-2 gap-x-14 gap-y-6">
            <div class="w-full whitespace-nowrap px-5">
                <label class="block text-base font-normal text-gray-600">Colaborador</label>
                <div class="flex items-center mt-1">
                    <div class="flex-shrink-0 h-10 w-10">
                        {% if incident.worker.photo.url %}
                        <img class="h-10 w-10 rounded-full" src="{{incident.worker.photo.url}}" alt="profile photo"
                            height="40px">
                        {% endif %}
                    </div>
                    <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900 leading-none">
                            {{incident.worker.names}}&nbsp;{{incident.worker.surnames}}
                        </div>
                        <div class="text-sm text-gray-500 leading-none">
                            {{incident.worker.email}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full whitespace-nowrap px-5">
                <label class="block text-base font-normal text-gray-600">Documento</label>
                <div class="font-semibold leading-10">{{incident.worker.document}} ({{incident.worker.document_type}})</div>
            </div>
            <div class="w-full whitespace-nowrap px-5">
                <label class="block text-base font-normal text-gray-600">Fecha y Hora</label>
                <div class="text-sm text-gray-500">{{incident.date_time}}</div>
            </div>
            <div class="w-full whitespace-nowrap px-5">
                <label class="block text-base font-normal text-gray-600">Categoría</label>
                <div class="flex items-center gap-2">
                    {% if incident.incident_category.color == 'green' %}
                    <div class="w-5 h-5 bg-green-500 rounded-full">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </div>
                    {% elif incident.incident_category.color == 'blue' %}
                    <div class="w-5 h-5 bg-blue-600 rounded-full">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </div>
                    {% elif incident.incident_category.color == 'yellow' %}
                    <div class="w-5 h-5 bg-yellow-400 rounded-full">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </div>
                    {% elif incident.incident_category.color == 'red' %}
                    <div class="w-5 h-5 bg-red-600 rounded-full">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </div>
                    {% endif %}
                    <div class="text-sm text-gray-900 font-medium">
                        {{incident.incident_category.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col mx-auto w-80 mt-10">
            <label class="block text-base font-normal text-gray-600 mx-auto">Imagen de la incidencia</label>
            <img src="{{incident.image.url}}" alt="incident image"
                class="rounded-md border border-gray-400 shadow w-80 h-80 mt-1">
    </div>
</div>
</div>
{% endblock content %}