{% extends "index.html" %}

{% load static %}

{% block container %}
{% if not success %}
<h1 class="center">
    <strong>
        <p style="font-size: 24px;text-align:center;">{{ user.username }}, tu cuenta ha sido confirmada!</p>
        <p style="font-size: 24px;text-align:center;">Has click <a style="color: -webkit-link;" href="{% url 'accounts:login' %}">en este enlace</a> para iniciar sesión</p>
    </strong>
</h1>
{% else %}
<h1 class="center">
    <strong>
        <p style="font-size: 24px">El token ya expiró.</p>
    </strong>
</h1>
{% endif %}
{% endblock container %}