{% extends "index.html" %}

{% load static %}
{% block navbar %} {% endblock navbar %}

{% block container %}
{% endblock container %}

{% block auth %}
<div style="display: grid; grid-template-columns: 3fr 2fr;" class="">
    <div style="height:100vh;">
        <img src="{% static 'accounts/media/login-background.jpg' %}" alt="mountains" class="auth-image">
    </div>
    <div style="margin:auto 25%;">
        <div class="card card-small z-depth-3">
            {% if success %}
            <form method="post" class="custom-form" enctype="multipart/form-data">
                <h1 class="text-3xl font-bold text-gray-800 mb-2">Reiniciar contraseña</h1>
                {% csrf_token %}
                {% for field in password_form %}
                <label class="block text-base font-normal text-gray-600" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                <div class="red-text">
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div style="display: flex; justify-content:center;">
                    <button type='submit' class='mt-5 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500' style="width:100%">Guardar</button>
                </div>
            </form>
            {% else %}
            <h1>
                <strong>
                    <p style="font-size: 24px">El token ya expiró.</p>
                </strong>
            </h1>
            {% endif %}    
        </div>
    </div>
</div>
{% endblock auth %}