{% extends "index.html" %}

{% load static %}
{% block navbar %} {% endblock navbar %}

{% block container %}
{% if success %}
<div class="card card-small z-depth-3">
    <form method="post" enctype="multipart/form-data">
        <h4>Reiniciar contraseña</h4>
        {% csrf_token %}
        {% for field in password_form %}
        {{ field.label_tag }} {{ field }}
        <div class="red-text">
            {{ field.errors }}
        </div>
        {% endfor %}
        <div style="display: flex; justify-content:center;">
            <button type='submit' class='waves-effect waves-light btn' style="width:100%">Guardar</button>
        </div>
    </form>
</div>
{% else %}
<h5>El token ya expiró.</h5>
{% endif %}
{% endblock container %}