{% extends "index.html" %}

{% load static %}
{% block navbar %} {% endblock navbar %}

{% block container %}
{% endblock container %}

{% block auth %}
<div style="display: grid; grid-template-columns: 3fr 2fr;" class="">
    <div style="height:100vh;">
        <img src="{% static 'accounts/media/login-background.jpg' %}" alt="mountains" class="auth-image">
    </div>
    <div style="margin:auto 25%;">
        <form method="post" class="custom-form">
            <h1 class="text-3xl font-bold text-gray-800 mb-2">Recuperar contraseña</h1>
            <p class="text-base font-normal text-gray-600 mb-5">Ingresa tu correo para que puedas recuperar tu
                contraseña.</p>
            {% csrf_token %}
            <label for="form.email.html_name" class="block text-base font-normal text-gray-600">Correo</label>
            <input type="email" name="{{form.email.html_name}}" id="{{form.email.id_for_label}}"
                class="my-1 w-full text-sm border border-gray-300 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500 py-1.5 px-3 shadow rounded-md" />
            <div class="text-base font-normal text-red-600">
                {{ form.email.errors }}
            </div>
            <div class="flex justify-center mt-8">
                {{form.captcha}}
            </div>
            <div class="red-text">
                {{ form.captcha.errors }}
            </div>
            <button type='submit'
                class='mt-5 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500'>
                Enviar</button>
        </form>
        <p class="text-base font-normal text-gray-600 mt-20 text-center">¿Ya tienes cuenta? <a class="text-blue-600"
                href="{% url 'accounts:login' %}">Iniciar Sesión</a></p>
    </div>
</div>
{% endblock auth %}