{% extends "index.html" %}

{% block content %}
<div class = "bg-white shadow-lg rounded-3xl mx-auto p-5 mt-2 w-2/3 ">
<div class="w-2/3 lg:w-1/2 mx-auto relative">
    <div class="flex justify-center items-center mt-3 gap-5">
        <h1 class="text-2xl text-gray-900 font-semibold ">Perfil de usuario {{user}}</h1>
    </div>
    <div class="flex flex-col my-5 gap-3">
        <img src="{{user.worker.photo.url}}" alt="no profile photo"
            class="mx-auto rounded-md border border-gray-400 shadow w-40 h-40">
    </div>
    <div class="flex flex-col md:grid md:grid-cols-2 md:gap-x-14 gap-y-2">
        <div class="mx-auto w-full md:w-2/3 whitespace-nowrap">
            <label class="block text-base font-normal text-gray-600 mt-3">Nombre de usuario</label>
            <div class="font-semibold">{{user.username}}</div>
        </div>
        <div class="mx-auto w-full md:w-2/3 whitespace-nowrap">
            <label class="block text-base font-normal text-gray-600 mt-3">Rol</label>
            <div class="font-semibold">{{user.role.name}}</div>
        </div>
        <div class="mx-auto w-full md:w-2/3 whitespace-nowrap">
            <label class="block text-base font-normal text-gray-600 mt-3">Está Bloqueado</label>
            <div class="font-semibold">{{user.is_active|yesno:"No,Sí"}}</div>
        </div>
        <div class="mx-auto w-full md:w-2/3 whitespace-nowrap">
            <label class="block text-base font-normal text-gray-600 mt-3">Colaborador</label>
            {% if user.worker %}
            <div class="font-semibold">
                <a class="underline" href="{% url 'accounts:get_worker' id=user.worker.id %}">{{user.worker}}</a>
            </div>
            {% else %}
            <div class="font-medium text-gray-700">(Vacío)</div>
            {% endif %}
        </div>
    </div>
    <div class="flex justify-between md:justify-around gap-6 md:gap-0 my-8 md:mt-14">
        <a type="button" href="{% url 'accounts:list_users' %}"
            class='w-40 text-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-600 text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500'>Regresar</a>
        <a type="button" href="{% url 'accounts:edit_user' id=user.id %}"
            class='w-40 text-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500'>Editar</a>
    </div>
</div>
</div>
{% endblock content %}