{% extends "index.html" %}
{% load static %}

{% block content %}
<div class = "bg-white shadow-lg rounded-3xl mx-auto p-5 mt-2 w-2/3 ">
<div class="w-2/3 lg:w-1/2 mx-auto">
    <h1 class="text-2xl text-gray-900 font-semibold mt-3 text-center ">Registrar Colaborador</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-col my-5 gap-3">
            <img src="{% get_media_prefix %}profile_photos/default.png" id="upload_photo_display" alt="no profile photo" height="180px"
                width="180px" class="mx-auto rounded-md border border-gray-400 shadow">
            <button type="button" id="upload_photo"
                class="mx-auto w-40 rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Subir Foto
            </button>
        </div>
        <div class="flex flex-col md:grid md:grid-cols-2 md:gap-x-14 gap-y-2">
            {% for field in worker_form %}
            <div>
                {% if field.field.widget.input_type == "select" %}
                <label for="{{field.html_name}}"
                    class="block text-base font-normal text-gray-600 mt-3">{{field.label}}</label>
                <select id="{{field.id_for_label}}" name="{{field.html_name}}" autocomplete="on"
                    class="mb-2 mt-1 w-full text-sm border border-gray-300 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500 py-1.5 px-3 shadow rounded-md">
                    {% for value, label in field.field.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
                {% elif field.field.widget.input_type == "file" %}
                <input type="{{field.field.widget.input_type}}" name="{{field.html_name}}" id="{{field.id_for_label}}"
                    onchange="readURL(this);" class="hidden" />
                {% else %}
                <label for="{{field.html_name}}"
                    class="block text-base font-normal text-gray-600 mt-3">{{field.label}}</label>
                <input type="{{field.field.widget.input_type}}" name="{{field.html_name}}" id="{{field.id_for_label}}"
                    class="mb-2 mt-1 w-full text-sm border border-gray-300 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500 py-1.5 px-3 shadow rounded-md" />
                {% endif %}
                <div class="text-base font-normal text-red-600 -mb-1">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="flex justify-between gap-6 my-6 md:mt-14">
            <a type="button" href="{% url 'accounts:list_workers' %}"
                class='w-40 text-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-600 text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500'>Regresar</a>
            <button type='submit'
                class='w-40 rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500'>Guardar</button>
        </div>
    </form>
</div>
</div>
<script>

</script>

{% endblock content %}